.blurred-box {
  position: relative;
  width: 100%;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:hover {
  cursor: pointer;
}

.blurred-box:after {
  content: '';
  width: 100%;
  background: inherit;
  position: absolute;
  left: -25px;
  left: absolute;
  right: 0;
  top: -25px;
  top: absolute;
  bottom: 0;
  /* box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05); */
}
