.redacted {
  background-color: #000;
  color: #000;
}

.redacted-all {
  display: inline-block;
  background-color: #000;
  color: #000;
}

#text-area,
#text-area-para {
  margin: 0;
  margin-right: 40%;
  margin-left: 40%;
  padding: 40px, 20px;
}
